* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_25 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v2_26 {
    width: 100%;
    height: 149px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .v2_27 {
    width: 100%;
    height: 65px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 959px;
    left: 0px;
    overflow: hidden;
  }
  .v2_29 {
    width: 100%;
    height: 810px;
    background: url("../IMG/v2_29.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 0px;
    overflow: hidden;
  }
  .v2_30 {
    width: 425px;
    height: 683px;
    background: rgba(217,217,217,0.6499999761581421);
    opacity: 1;
    position: absolute;
    top: 235px;
    left: 26px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v2_31 {
    width: 425px;
    height: 683px;
    background: rgba(217,217,217,0.6499999761581421);
    opacity: 1;
    position: absolute;
    top: 235px;
    left: 990px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v2_32 {
    width: 425px;
    height: 683px;
    background: rgba(217,217,217,0.6499999761581421);
    opacity: 1;
    position: absolute;
    top: 235px;
    left: 508px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v2_33 {
    width: 132px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 67px;
    left: 252px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_34 {
    width: 303px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 67px;
    left: 384px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_35 {
    width: 364px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 69px;
    left: 687px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_36 {
    width: 229px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 67px;
    left: 1051px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_37 {
    width: 385px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 251px;
    left: 42px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_38 {
    width: 396px;
    height: 264px;
    background: url("../IMG/v2_38.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 359px;
    left: 42px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
  }
  .v2_39 {
    width: 396px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 639px;
    left: 42px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v2_40 {
    width: 385px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 251px;
    left: 523px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_41 {
    width: 396px;
    height: 264px;
    background: url("../IMG/v2_41.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 359px;
    left: 523px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
  }
  .v2_42 {
    width: 396px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 639px;
    left: 523px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v2_43 {
    width: 385px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 252px;
    left: 1003px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: center;
  }
  .v2_44 {
    width: 396px;
    height: 264px;
    background: url("../IMG/v2_44.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 360px;
    left: 1003px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
  }
  .v2_45 {
    width: 396px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 640px;
    left: 1003px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v2_46 {
    width: 586px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 976px;
    left: 427px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v2_28 {
    width: 222px;
    height: 148px;
    background: url("../IMG/v2_28.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  